.animate-container {
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
    margin-right: 0px;
    margin-left: 0px;
}

.animate-container.ng-enter {
    position: absolute;
    opacity:0;
    margin-left: 1920px;
    margin-right: -1920px;
    width: 100%;

}

.animate-container.ng-enter.ng-enter-active {
    opacity:1;
    margin-left: 0px;
    margin-right: 0px;                
}

.animate-container.ng-leave {
    position: absolute;
    opacity:1;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.animate-container.ng-leave.ng-leave-active {
    opacity:0;
    margin-left: -1920px;
    margin-right: 1920px;
}

.animate-container.rever.ng-leave.ng-leave-active {
    opacity:0;
    margin-left: 1920px;
    margin-right: -1920px;
}

.animate-container.rever.ng-enter {
    position: absolute;
    opacity:0;
    margin-left: -1920px;
    margin-right: 1920px;

}